<% layout("/layouts/boilerplate") -%>

<div class="row mt-3">
    <div class="col-8 offset-2">

   
        <h3>Edit Listing</h3>
        <form method="post" action="/listing/<%=listing._id %>?_method=put" novalidate class="needs-validation">
            <div class="mb-3">
                <label for="title" class="form-label">name</label>
                <input type="text" class="form-control" name="listing[title]" value=<%=listing.title %> required >
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">description</label>
                <textarea name="listing[description]" class="form-control" required><%=listing.description %>  </textarea>
            </div>

            <div>
                <img src="<%=listing.image.url %>" height="250" width="300" alt="not loaded">
            </div>


            <div class="mb-3">
                <label for="image" class="form-label">image</label>
                <input type="file" class="form-control" name="listing[image]" value=<%=listing.image %>  required >
            </div>

            <div class="row">
                <div class="mb-3 col-4">
                    <label for="price" class="form-label">price</label>
                    <input type="number" class="form-control" name="listing[price]" value=<%=listing.price %> required >
                </div>
    
                <div class="mb-3 col-8">
                    <label for="country" class="form-label">country</label>
                    <input type="text" class="form-control" name="listing[country]" value=<%=listing.country %> required />
                </div>
            </div>

            <div class="mb-3">
                <label for="location" class="form-label">location</label>
                <input type="text" class="form-control" name="listing[location]" value=<%=listing.location %> required >
            </div>


            <button type="submit" class="mb-3 btn btn-dark edit-btn mt-3">submit</button>

        </div>
    </div>
    
   